*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

header{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}
.container{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuRight nav ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}
.btnMenu{
  text-decoration: none;
  color: hsl(229, 31%, 21%);
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}
.btnMenu:hover{
  color: hsl(0, 94%, 66%);
}
.btnLogin{
  background-color: hsl(0, 94%, 66%);
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
  border: 1px solid hsl(0, 94%, 66%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.textLogin{
  padding: 5px 25px 5px 25px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
.btnLogin:hover{
  background-color: #fff;
  border: 1px solid hsl(0, 94%, 66%);
}
.textLogin:hover{
  color:  hsl(0, 94%, 66%);
}
/* fim menu */

/* inicio section simple */
.simpleSection{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.simpleContainer{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.simpleRight{
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.form{
  border-radius: 100px 0px 0px 100px;
  width: 450px;
  height: 250px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  right: 0px;
  top: 300px;
}
.simpleRight img{
  width: auto;
  height: 350px;
  margin-top: 50px;
}
.simpleLeft{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.simpleTitle{
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: hsl(229, 31%, 21%);
}
.simpleContent{
  width: 80%;
  color: hsl(229, 8%, 60%);
  margin-top: 20px;
  word-wrap: break-word;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}
.simpleBtn{
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.btnGetChrome{
  margin-right: 20px;
  border: 1px solid hsl(231, 69%, 60%);
  background-color: hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.btnGetChrome a{
  padding: 10px 25px 10px 25px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}
.btnGetChrome:hover{
  background-color: #fff;
  border: 1px solid hsl(231, 69%, 60%);
}
.btnGetChrome a:hover{
  color: hsl(231, 69%, 60%);
}
.btnGetFirefox{
  border: 1px solid hsl(229, 8%, 90%);
  background-color: hsl(229, 8%, 90%);
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.btnGetFirefox a{
  padding: 10px 25px 10px 25px;
  font-size: 13px;
  text-transform: uppercase;
  color: hsl(229, 31%, 21%);
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}
.btnGetFirefox:hover{
  background-color: #fff;
  border: 1px solid hsl(229, 31%, 21%);
}
.btnGetFirefox a:hover{
  color: hsl(229, 31%, 21%);
}

/* fim simple*/

/* inicio features */
.featuresTitle{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 23px;
  color: hsl(229, 31%, 21%);
  font-weight: bold;
  margin-top: 40px;
}
.featureContent{
  width: 410px;
}
.featuresText{

}